
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #3b435b, #181818);
  background-repeat: no-repeat;
  height: 100vh;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  
}
header {
  background: linear-gradient(0deg, rgb(29, 29, 29), rgb(73, 73, 73))
}

a, h1 {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header nav ul li {
  float: left;
}

header nav ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav ul li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropbtn {
  font-size: 24px;
  text-decoration: none;
  color: whitesmoke;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header nav ul li a:hover, .dropdown:hover .dropbtn{
  background-color: #555;
}